.json-code {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    color: #000;
}